$white:#fff;
$black: #000;
$text-color:#22252e;
$primary-blue:#317ade;
$text-alt:#6b728e;
$light-gray-background: #f9fafe;
$menu-hover: #0e3378;
$footer-background-color: #1a1a1a;
$social-icons-background: #2c2d3e;
$checkout-color: #00e1b0;
$secondary-gray: #8c92a9;
$disable-btn: #eaecf2; 
$background-gradient-menu: radial-gradient(circle at 1% 5%, #317ade, #0e3378 98%);
$background-gradient-client: radial-gradient(circle at 1% 5%, #317ade, #0e3378 90%);
$trusted-title: #383c4b;