@import "./colors", "./mixins", "./reset", "./typography";

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.hero-title {
  font-size: 1.2rem;
  font-weight: $font-weight-strong;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -2.33px;
  color: $white;
  @include FuturaPT-Bold;
}

.section-title {
  font-size: 4.8rem;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.11;
  letter-spacing: normal;
  color: $text-color;
  @include LustDisplay;
  @include md {
    font-size: 9rem;
  }
}

.blue-btn {
  padding: 12px 33px;
  border-radius: 35px;
  background-color: $primary-blue;
  color: $white;
  font-family: $font-family-primary;
  border: none;
}

.title-shadow {
  position: relative;
  &::before {
    position: absolute;
    //add position top
    opacity: 0.1;
    font-family: $font-family-primary;
    font-size: 1.5rem;
    font-weight: $font-weight-strong;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $text-alt;
  }
}

.photo-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
